body {
  text-align: center;
  background-image: url('360_F_433842766_IRADS5lyvcCcAgH3rISciqraCOjajrLr.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color:powderblue;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid white;
  border-radius: 40%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color:lime;
}

.blue {
  background-color:rgb(8, 140, 248);
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
